@page "/category"

<main>
    <section class="uk-section uk-section-small">
        <div class="uk-container">
            <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                <div class="uk-text-center">
                    <ul class="uk-breadcrumb uk-flex-center uk-margin-remove">
                        <li><a href="index">Home</a></li>
                        <li><a href="catalog">Catalog</a></li>
                        <li><span>Laptops &amp; Tablets</span></li>
                    </ul>
                    <h1 class="uk-margin-small-top uk-margin-remove-bottom">Laptops &amp; Tablets</h1>
                    <div class="uk-text-meta uk-margin-xsmall-top">367 items</div>
                </div>
                <div>
                    <div class="uk-grid-medium" uk-grid>
                        <aside class="uk-width-1-4 tm-aside-column tm-filters" id="filters"
                               uk-offcanvas="overlay: true; container: false;">
                            <div class="uk-offcanvas-bar uk-padding-remove">
                                <div class="uk-card uk-card-default uk-card-small uk-flex uk-flex-column uk-height-1-1">
                                    <header class="uk-card-header uk-flex uk-flex-middle">
                                        <div class="uk-grid-small uk-flex-1" uk-grid>
                                            <div class="uk-width-expand">
                                                <div class="uk-h3">Filters</div>
                                            </div><button class="uk-offcanvas-close" type="button"
                                                          uk-close></button>
                                        </div>
                                    </header>
                                    <div class="uk-margin-remove uk-flex-1 uk-overflow-auto"
                                         uk-accordion="multiple: true; targets: &gt; .js-accordion-section"
                                         style="flex-basis: auto">
                                        <section class="uk-card-small uk-card-body">
                                            <h4 class="uk-margin-small-bottom">Categories</h4>
                                            <ul class="uk-nav uk-nav-default">
                                                <li><a href="subcategory">Laptops</a></li>
                                                <li><a href="subcategory">Tablets</a></li>
                                                <li><a href="subcategory">Peripherals</a></li>
                                                <li><a href="subcategory">Keyboards</a></li>
                                                <li><a href="subcategory">Accessories</a></li>
                                            </ul>
                                        </section>
                                        <section class="uk-card-body uk-open js-accordion-section">
                                            <h4 class="uk-accordion-title uk-margin-remove">Prices</h4>
                                            <div class="uk-accordion-content">
                                                <div class="uk-grid-small uk-child-width-1-2 uk-text-small"
                                                     uk-grid>
                                                    <div>
                                                        <div class="uk-inline">
                                                            <span class="uk-form-icon uk-text-xsmall">from</span><input class="uk-input" type="text" placeholder="$59">
                                                        </div>
                                                    </div>
                                                    <div>
                                                        <div class="uk-inline">
                                                            <span class="uk-form-icon uk-text-xsmall">to</span><input class="uk-input" type="text"
                                                                                                                      placeholder="$6559">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="uk-card-body js-accordion-section uk-open">
                                            <h4 class="uk-accordion-title uk-margin-remove">Brands</h4>
                                            <div class="uk-accordion-content">
                                                <ul class="uk-list tm-scrollbox">
                                                    <li>
                                                        <input class="tm-checkbox" id="brand-1" name="brand"
                                                               value="1" type="checkbox"><label for="brand-1">
                                                            <span>
                                                                Acer
                                                                <span class="uk-text-meta uk-text-xsmall">177</span>
                                                            </span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input class="tm-checkbox" id="brand-2" name="brand"
                                                               value="2" type="checkbox"><label for="brand-2">
                                                            <span>
                                                                Apple
                                                                <span class="uk-text-meta uk-text-xsmall">18</span>
                                                            </span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input class="tm-checkbox" id="brand-3" name="brand"
                                                               value="3" type="checkbox"><label for="brand-3">
                                                            <span>
                                                                ASUS
                                                                <span class="uk-text-meta uk-text-xsmall">150</span>
                                                            </span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input class="tm-checkbox" id="brand-4" name="brand"
                                                               value="4" type="checkbox"><label for="brand-4">
                                                            <span>
                                                                Dell
                                                                <span class="uk-text-meta uk-text-xsmall">170</span>
                                                            </span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input class="tm-checkbox" id="brand-5" name="brand"
                                                               value="5" type="checkbox"><label for="brand-5">
                                                            <span>
                                                                HP
                                                                <span class="uk-text-meta uk-text-xsmall">498</span>
                                                            </span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input class="tm-checkbox" id="brand-6" name="brand"
                                                               value="6" type="checkbox"><label for="brand-6">
                                                            <span>
                                                                MSI
                                                                <span class="uk-text-meta uk-text-xsmall">54</span>
                                                            </span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input class="tm-checkbox" id="brand-7" name="brand"
                                                               value="7" type="checkbox"><label for="brand-7">
                                                            <span>
                                                                Samsung
                                                                <span class="uk-text-meta uk-text-xsmall">1</span>
                                                            </span>
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <input class="tm-checkbox" id="brand-8" name="brand"
                                                               value="8" type="checkbox"><label for="brand-8">
                                                            <span>
                                                                Sony
                                                                <span class="uk-text-meta uk-text-xsmall">1</span>
                                                            </span>
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </section>
                                        <div class="uk-card-body">
                                            <button class="uk-button uk-button-default uk-width-1-1">
                                                <span class="uk-margin-xsmall-right"
                                                      uk-icon="icon: close; ratio: .75;"></span>Reset all
                                                filters
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                        <div class="uk-width-expand">
                            <ProductGrid/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="uk-section uk-section-default uk-section-small">
        <div class="uk-container">
            <div uk-slider>
                <ul class="uk-slider-items uk-child-width-1-1 uk-child-width-1-2@s uk-child-width-1-5@m uk-grid">
                    <li>
                        <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
                            <div><span uk-icon="icon: star; ratio: 2.5;"></span></div>
                            <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                                <div>Mauris placerat</div>
                                <div class="uk-text-meta">Donec mollis nibh dolor, sit amet auctor</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
                            <div><span uk-icon="icon: receiver; ratio: 2.5;"></span></div>
                            <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                                <div>Lorem ipsum</div>
                                <div class="uk-text-meta">Sit amet, consectetur adipiscing elit</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
                            <div><span uk-icon="icon: location; ratio: 2.5;"></span></div>
                            <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                                <div>Proin pharetra</div>
                                <div class="uk-text-meta">Nec quam a fermentum ut viverra</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
                            <div><span uk-icon="icon: comments; ratio: 2.5;"></span></div>
                            <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                                <div>Praesent ultrices</div>
                                <div class="uk-text-meta">Praesent ultrices, orci nec finibus</div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="uk-grid-small uk-flex-center uk-flex-left@s" uk-grid>
                            <div><span uk-icon="icon: happy; ratio: 2.5;"></span></div>
                            <div class="uk-text-center uk-text-left@s uk-width-expand@s">
                                <div>Duis condimentum</div>
                                <div class="uk-text-meta">Pellentesque eget varius arcu</div>
                            </div>
                        </div>
                    </li>
                </ul>
                <ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin-medium-top"></ul>
            </div>
        </div>
    </section>
</main>
