@page "/";
@using PartsUnlimited.Shared.Models;
@inject HttpClient Http;

<main>
    <Carousel_ />
    <CategoryDisplay  />
    <ProductTrending Products="products"/>
    <BrandDisplay/>
    <BlogDisplay/>
    <NewsDisplay/>
    <SubscriptionSection_/>
</main>

@code{
    private Product[] products;
    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<Product[]>("api/product");
    }
}