@page "/product"
@using PartsUnlimited.Shared.Models;
@inject HttpClient Http;
<main>
    <section class="uk-section uk-section-small">
        <div class="uk-container">
            <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                <div class="uk-text-center">
                    <DirectoryBar_ />

                    <h1 class="uk-margin-small-top uk-margin-remove-bottom">
                        Apple MacBook Pro 15&quot; Touch Bar
                        MPTU2LL/A 256GB (Silver)
                    </h1>
                </div>
                <div>
                    <div class="uk-grid-medium uk-child-width-1-1" uk-grid>
                        <div>
                            <div class="uk-card uk-card-default uk-card-small tm-ignore-container">
                                <div class="uk-grid-small uk-grid-collapse uk-grid-match"
                                     uk-grid>
                                    <ProductDisplay_ />
                                    <ProductOptions_ />
                                    <div class="uk-width-1-1 tm-product-description"
                                         id="description">
                                        <InPageNavbarH />
                                        <div class="uk-card-body">
                                            <div class="uk-switcher js-product-switcher js-tabs">
                                                <ProductOverview />
                                                <ProductSpecifications />
                                                <ProductAccessories Products="products" />
                                                <Review />
                                                <CommonQueries />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Related items-->
                        <RelatedItems Products="products" />
                    </div>
                    <ReviewModal />
                </div>
            </div>
        </div>
    </section>
</main>
@code{
    private Product[] products;
    protected override async Task OnInitializedAsync()
    {
        products = await Http.GetFromJsonAsync<Product[]>("api/product");
    }
}